<section class="page-header">
  <a href="{{ site.baserul }}"><img class="avatar" src="{{ site.baseurl }}/assets/images/fabianschilling.jpg" title="Fabian Schilling" alt="Fabian Schilling"></a>
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#101;&#064;&#102;&#097;&#098;&#105;&#097;&#110;&#115;&#099;&#104;&#105;&#108;&#108;&#105;&#110;&#103;&#046;&#111;&#114;&#103;"><img class="icon" src="{{ site.baseurl }}/assets/icons/email.svg" title="Email Fabian Schilling" alt="Email"/></a>
  <a href="https://github.com/fabianschilling/"><img class="icon" src="{{ site.baseurl }}/assets/icons/github.svg" title="Fabian Schilling on Github" alt="Github"/></a>
  <a href="https://www.linkedin.com/in/fabianschilling/"><img class="icon" src="{{ site.baseurl }}/assets/icons/linkedin.svg" title="Fabian Schilling on LinkedIn" alt="LinkedIn"/></a>
  <a href="https://scholar.google.com/citations?user=0gmSIsoAAAAJ"><img class="icon" src="{{ site.baseurl }}/assets/icons/scholar.svg" title="Fabian Schilling on Google Scholar" alt="Google Scholar"/></a>
</section>
