<section class="page-header">
  <a href="{{ site.baserul }}"><img class="avatar" src="{{ site.baseurl }}/assets/images/fabianschilling.jpg" title="Fabian Schilling" alt="Fabian Schilling"></a>
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x6d;&#x65;&#x40;&#x66;&#x61;&#x62;&#x69;&#x61;&#x6e;&#x73;&#x63;&#x68;&#x69;&#x6c;&#x6c;&#x69;&#x6e;&#x67;&#x2e;&#x63;&#x6f;&#x6d;"><img class="icon" src="{{ site.baseurl }}/assets/icons/email.svg" title="Email Fabian Schilling" alt="Email"/></a>
  <a href="https://github.com/fabianschilling/"><img class="icon" src="{{ site.baseurl }}/assets/icons/github.svg" title="Fabian Schilling on Github" alt="Github"/></a>
  <a href="https://www.linkedin.com/in/fabianschilling/"><img class="icon" src="{{ site.baseurl }}/assets/icons/linkedin.svg" title="Fabian Schilling on LinkedIn" alt="LinkedIn"/></a>
  <a href="https://scholar.google.com/citations?user=0gmSIsoAAAAJ"><img class="icon" src="{{ site.baseurl }}/assets/icons/scholar.svg" title="Fabian Schilling on Google Scholar" alt="Google Scholar"/></a>
</section>
